.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.login{
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    align-items: center;
    margin-top: 20px;
}

#spa{
    font-weight: 900;
}